.main-container{
    padding: 40px;
    /* height: 15vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #2b6de2d1; */
    /* margin: 20px; */
    margin: 10px 10px;
    border-radius: 10px;
    /* width: 50vw; */
    background-color: #9fa0db;
    box-shadow:2px 4px 5px 2px #3e3a3a;

}
/* .container{
    background-color: rgb(28, 27, 27);
    opacity: 0.6;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
} */
h2{
    color: #dde6ec;
}
.addbtn{
    font-size: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    opacity: 0.6;
    border-radius: 10px;
    width: 100%;
}
h1{
    text-align: center;
}
#submit_btn{

    padding: 10px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
}
/* #expense_item{
    font-size: 20px;
} */

body {
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    height: 100%;
  
  }
  
  .form {
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 500px; */
    padding: 20px;
    /* width: 520px; */
    /* box-shadow: 10px 15px #6d7d90; */
    
  }
  
  .title {
    color:black;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
  }
  
  .subtitle {
    color:black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #dddfe9;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color:black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #fefefe;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 90px;
    color: black;
    /* box-shadow: 3px 3px #6d7d90; */
    
  }
  
  .cut-short {
    width: 90px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #bcbcd2;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }

  @media(max-width:1600px)
  {

    .form{
      background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 200px; */
    padding: 20px;
    /* width: 420px; */
    
    }

    .title {
      color:black;
      font-family: sans-serif;
      font-size: 28px;
      font-weight: 600;
      margin-top: 8px;
      text-align: center;
    }
    
    .subtitle {
      color:black;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-top: 8px;
      text-align: center;
    }

    .input-container {
      height: 40px;
      position: relative;
      width: 100%;
    }

    .submit {
      background-color: #08d;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      font-size: 22px;
      height: 30px;
      margin-top: 28px;
      text-align: center;
      width: 80%;
      
    }
    .addbtn{
      font-size: 28px;
      padding: 8px 15px;
      background-color: black;
      color: white;
      opacity: 0.6;
      border-radius: 10px;
  }
  .main-container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #9fa0db;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
  

     }
  }


  @media (max-width:1400px) 
  {
    .form{
      background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 200px; */
    padding: 20px;
    /* width: 280px; */
    
    }

    .title {
      color:black;
      font-family: sans-serif;
      font-size: 24px;
      font-weight: 400;
      margin-top: 5px;
      text-align: center;
    }
    
    .subtitle {
      color:black;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: 400;
      margin-top: 4px;
      text-align: center;
    }

    .input-container {
      height: 30px;
      position: relative;
      width: 100%;
    }

    .submit {
      background-color: #08d;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      font-size: 12px;
      height: 30px;
      margin-top: 18px;
      text-align: center;
      width: 70%;
    }
    .addbtn{
      font-size: 15px;
      padding: 8px 15px;
      background-color: black;
      color: white;
      opacity: 0.6;
      border-radius: 10px;
  }
  .main-container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #9fa0db;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
  

     }
  } 



  @media (max-width: 700px) {
   
    .form{
      background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 200px; */
    padding: 20px;
    /* width: 240px; */
    /* box-shadow: 10px 15px #6d7d90; */
    }

    .title {
      color:black;
      font-family: sans-serif;
      font-size: 24px;
      font-weight: 400;
      margin-top: 5px;
      text-align: center;
    }
    
    .subtitle {
      color:black;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: 400;
      margin-top: 4px;
      text-align: center;
    }

    .input-container {
      height: 30px;
      position: relative;
      width: 80%;
    }

    .submit {
      background-color: #08d;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      font-size: 12px;
      height: 30px;
      margin-top: 18px;
       /* outline: 0; */
      text-align: center;
      width: 60%;
      margin-left: -45px;
    }
    .addbtn{
      font-size: 15px;
      padding: 8px 15px;
      background-color: black;
      color: white;
      opacity: 0.6;
      border-radius: 10px;
  }
  .main-container{
    padding: 40px;
    /* height: 15vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #9fa0db;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    /* width: 65vw; */

}

.placeholder{
       
      font-size: 15px;
   }
}

  
  
