.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    padding: 2rem;
    margin: 1rem 0rem;
    border-radius: 12px;
    /* background-color: #f6f9fbc7; */
    background-color: white;
  }
  
  .expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  
  .expense_date{

    color: #3a3a3a;
    font-size: 1.6rem;
    /* flex: 1; */
    margin: 0 1rem;
    color: white;
    /* background-color: rgb(45, 43, 40); */
  }
  .expense-item h2 {
    color: #181818;
    /* font-size: 1.6rem; */
    flex: 1;
    margin: 0 1rem;
    /* color: white; */
    /* padding: 20px 30px;
    background-color: #40005d;
    border: 1px solid white; */
  }

  #expense_item{
    font-size: 30px;
  }
  
  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color:#e40830d1;
    border: 1px solid white;
    padding: 2rem;
    border-radius: 12px;
  }

  .Btn{

    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #c34e63;
    color: white;
  }
  
  /* .expense-item__description h2{
  font-size: 20px;

  } */

  @media (max-width: 1000px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      /* flex: 1; */
    }
  
    #expense_item{
      margin: 0rem;
      font-size: 18px;
    }
  
    .expense-item__price {
      font-size: 1.5rem;
      padding: 0.5rem 0.7rem;
    }

    .Btn{
      font-size: 13px;
    }

  }



  @media(max-width:850px){

    .expense-item__price {
      font-size: 0.75rem;
      padding: 0.4rem;
    }
    .Btn{
      font-size: 0.7rem;
      padding: 0.4rem;
    }
    .expense-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
      padding: 0.2rem;
      /* margin: 1rem 0; */
      border-radius: 12px;
      /* background-color: #1089e0c7; */
      background-color: white;
      font-size: 10px;

    }

    /* .expense-item h2{
      
    } */

    #expense_item{
      margin: 0rem;
      font-size: 13px;
    }
  }

  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .expense-item__description h2 {
      font-size: 1rem;
    }
  
    .expense-item__price {
      font-size: 1.0rem;
      padding: 0.5rem;
    }
  }

  