.Foot{
 margin-top: 20px;
  margin: 10px;
  border: 2px solid rgb(244, 65, 65);
  border-radius:20px 0px;
  /* height: 90vh; */
}

/* body {
  background-image:url("https://source.unsplash.com/1600x900/?budget");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */